<div class="header2" fxLayout.md="row" fxLayout.xs="column" fxLayoutAlign="space-between">
    <div fxFlex.gt-sm="50%" class="headerInner" fxLayout="row">
        <img [src]="image" alt="">
        <p>{{categoryName}}</p>
    </div>
    <div fxFlex.gt-sm="50%" class="headerInnerright" fxLayout="row" fxLayout.xs="column">
        <button class="dialogueButton" mat-button (click)="openDialog()"> <img src="/assets/images/add-icon.svg" alt="">
            Create New {{title}}</button>
        <div class="drope" [matMenuTriggerFor]="menu" fxLayout="row">
            <button class="Modebutton" mat-button> <img src="/assets/images/left-align.svg" alt=""> Options <span
                    class="material-icons">expand_more </span></button>
            <mat-menu class="meenu" #menu="matMenu">
                <button mat-raised-button (click)="$event.stopPropagation()" disableRipple style=" padding: 0px; margin-left: 20px; background-color: transparent;box-shadow: none; margin-right: 10px;">Light
                    Mode<mat-slide-toggle primary class="toggle" (click)="switchTheme()" style="margin-left: 15px;">
                    </mat-slide-toggle></button>
            </mat-menu>
        </div>
    </div>
</div>